/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/* All page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}





























/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #191919;
}

.logo {
    cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: green;
}

.cta {
    padding: 9px 25px;
    background-color: green;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: darkgreen;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

.img_navbar_logo{
    height: 73px;
}






















/* Product */

.largetextproduct{
    display: flex;
    align-items: center;
    justify-content: center;
}

.largetextproduct h1{
    color: #F18F01;
    text-align: center;
    font-size: 45px;
    padding-top: 60px;
    padding-bottom: 55px;
}

.largetextproduct a{
    position: relative;
    text-decoration: none;
}

.largetextproduct a::after{
    content: '';
    height: 30%;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    background: #EFEFEF ;
    z-index: -1;
}








.products{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    min-height: 60vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container{
    max-width: 1700px;
    height: 470px;
    width: 100%;
    padding: 40px 0;
    margin: 10px;
}
.slide-content{
    margin: 0 80px;
    overflow: hidden;
    border-radius: 25px;
}










.srdf45 {
    height: 41vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #EFEFEF;
    border-radius: 24px;
    padding: 25px;
    position: relative;
}
.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: green;
}
.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: green;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.text-data .name {
    font-size: 22px;
    font-weight: 500;
}
.text-data .job {
    font-size: 15px;
    font-weight: 400;
}
.profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.buttons .button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: green;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover {
    background-color: darkgreen;
}
.profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid white;
}
.data i {
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child {
    border-right: none;
}










.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}











































/* Footer */

.footer{
    display: flex;
    flex-direction: column;
}
.bottomfooter{
    background: #008000;
    padding-bottom: 100px;
}